<header class="bg-white shadow-lg">
    <div class="container mx-auto p-6 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-gray-900">Ichi</h1>
      <nav>
        <a routerLink="/introduccion" class="text-gray-700 hover:text-gray-900 px-4">Introduccion</a>
        <a routerLink="/galeria" class="text-gray-700 hover:text-gray-900 px-4">Galería</a>
        <a routerLink="/biografia" class="text-gray-700 hover:text-gray-900 px-4">Biografía</a>
        <a routerLink="/contacto" class="text-gray-700 hover:text-gray-900 px-4">Contacto</a>
      </nav>
    </div>
  </header>
  